<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<booleanAttribute key="editedByExternalToolsMainTab" value="true"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CCS_CONNECTION_FILE" value="/home/calvin/workspace_v7/Assignment_1_LED_Blink/targetConfigs/MSP432P401R.ccxml"/>
<mapEntry key="CLUTTER_IM_MODULE" value="xim"/>
<mapEntry key="COMMON_BIN" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../../../common/bin"/>
<mapEntry key="COMMON_USCIF" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../../../common/uscif"/>
<mapEntry key="COMPIZ_BIN_PATH" value="/usr/bin/"/>
<mapEntry key="COMPIZ_CONFIG_PROFILE" value="ubuntu"/>
<mapEntry key="CTOOLS_BIN" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/."/>
<mapEntry key="CTOOLS_XMLDB" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../xmldb/aet_config"/>
<mapEntry key="DBUS_SESSION_BUS_ADDRESS" value="unix:abstract=/tmp/dbus-WEHEUNUUMO"/>
<mapEntry key="DEFAULTS_PATH" value="/usr/share/gconf/ubuntu.default.path"/>
<mapEntry key="DESKTOP_SESSION" value="ubuntu"/>
<mapEntry key="DISPLAY" value=":0"/>
<mapEntry key="GDK_SCALE" value="1"/>
<mapEntry key="GDMSESSION" value="ubuntu"/>
<mapEntry key="GDM_LANG" value="en_US"/>
<mapEntry key="GIO_LAUNCHED_DESKTOP_FILE" value="/usr/share/applications/Code Composer Studio 7.1.0.desktop"/>
<mapEntry key="GIO_LAUNCHED_DESKTOP_FILE_PID" value="3102"/>
<mapEntry key="GNOME_DESKTOP_SESSION_ID" value="this-is-deprecated"/>
<mapEntry key="GNOME_KEYRING_CONTROL" value=""/>
<mapEntry key="GNOME_KEYRING_PID" value=""/>
<mapEntry key="GPG_AGENT_INFO" value="/home/calvin/.gnupg/S.gpg-agent:0:1"/>
<mapEntry key="GTK2_MODULES" value="overlay-scrollbar"/>
<mapEntry key="GTK_IM_MODULE" value="ibus"/>
<mapEntry key="GTK_MODULES" value="gail:atk-bridge:unity-gtk-module"/>
<mapEntry key="HOME" value="/home/calvin"/>
<mapEntry key="IM_CONFIG_PHASE" value="1"/>
<mapEntry key="INSTANCE" value=""/>
<mapEntry key="JOB" value="unity-settings-daemon"/>
<mapEntry key="LANG" value="en_US.UTF-8"/>
<mapEntry key="LANGUAGE" value="en_US"/>
<mapEntry key="LD_LIBRARY_PATH" value="/opt/ti/ccsv7/eclipse/jre/lib/amd64/server:/opt/ti/ccsv7/eclipse/jre/lib/amd64:"/>
<mapEntry key="LIBOVERLAY_SCROLLBAR" value="0"/>
<mapEntry key="LOGNAME" value="calvin"/>
<mapEntry key="MANDATORY_PATH" value="/usr/share/gconf/ubuntu.mandatory.path"/>
<mapEntry key="NLSPATH" value="/usr/dt/lib/nls/msg/%L/%N.cat"/>
<mapEntry key="OXYGEN_DISABLE_INNER_SHADOWS_HACK" value="1"/>
<mapEntry key="PATH" value="/home/calvin/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/.:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../xmldb/aet_config:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../xmldb/trace_config/setup:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../xmldb/trace_config/devices:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../../../common/bin:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../../../common/uscif:/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../../tpi"/>
<mapEntry key="PWD" value="/home/calvin"/>
<mapEntry key="QT4_IM_MODULE" value="xim"/>
<mapEntry key="QT_ACCESSIBILITY" value="1"/>
<mapEntry key="QT_IM_MODULE" value="ibus"/>
<mapEntry key="QT_LINUX_ACCESSIBILITY_ALWAYS_ON" value="1"/>
<mapEntry key="QT_QPA_PLATFORMTHEME" value="appmenu-qt5"/>
<mapEntry key="SESSION" value="ubuntu"/>
<mapEntry key="SESSIONTYPE" value="gnome-session"/>
<mapEntry key="SESSION_MANAGER" value="local/calvin-N550JK:@/tmp/.ICE-unix/1706,unix/calvin-N550JK:/tmp/.ICE-unix/1706"/>
<mapEntry key="SHELL" value="/bin/bash"/>
<mapEntry key="SHLVL" value="0"/>
<mapEntry key="SSH_AUTH_SOCK" value="/run/user/1000/keyring/ssh"/>
<mapEntry key="SWT_GTK3" value="0"/>
<mapEntry key="TI_TRACE_DATA_DIR" value="/home/calvin/.TI-trace/data"/>
<mapEntry key="TI_TRACE_DEBUGCLIENT_PID" value="3102"/>
<mapEntry key="TI_TRACE_EOU_ENH" value="1"/>
<mapEntry key="TI_TRACE_LOGGING_DIR" value="/home/calvin/.TI-trace"/>
<mapEntry key="TI_TRACE_SETTINGS_DIR" value="/home/calvin/.TI-trace/settings"/>
<mapEntry key="TPI" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../../tpi"/>
<mapEntry key="TRACE_XMLDB_DEVICES" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../xmldb/trace_config/devices"/>
<mapEntry key="TRACE_XMLDB_SETUP" value="/opt/ti/ccsv7/ccs_base/emulation/analysis/bin/../xmldb/trace_config/setup"/>
<mapEntry key="UPSTART_EVENTS" value="xsession started"/>
<mapEntry key="UPSTART_INSTANCE" value=""/>
<mapEntry key="UPSTART_JOB" value="unity7"/>
<mapEntry key="UPSTART_SESSION" value="unix:abstract=/com/ubuntu/upstart-session/1000/1487"/>
<mapEntry key="USER" value="calvin"/>
<mapEntry key="XAUTHORITY" value="/home/calvin/.Xauthority"/>
<mapEntry key="XDG_CONFIG_DIRS" value="/etc/xdg/xdg-ubuntu:/usr/share/upstart/xdg:/etc/xdg"/>
<mapEntry key="XDG_CURRENT_DESKTOP" value="Unity"/>
<mapEntry key="XDG_DATA_DIRS" value="/usr/share/ubuntu:/usr/share/gnome:/usr/local/share/:/usr/share/:/var/lib/snapd/desktop"/>
<mapEntry key="XDG_GREETER_DATA_DIR" value="/var/lib/lightdm-data/calvin"/>
<mapEntry key="XDG_MENU_PREFIX" value="gnome-"/>
<mapEntry key="XDG_RUNTIME_DIR" value="/run/user/1000"/>
<mapEntry key="XDG_SEAT" value="seat0"/>
<mapEntry key="XDG_SEAT_PATH" value="/org/freedesktop/DisplayManager/Seat0"/>
<mapEntry key="XDG_SESSION_DESKTOP" value="ubuntu"/>
<mapEntry key="XDG_SESSION_ID" value="c2"/>
<mapEntry key="XDG_SESSION_PATH" value="/org/freedesktop/DisplayManager/Session0"/>
<mapEntry key="XDG_SESSION_TYPE" value="x11"/>
<mapEntry key="XDG_VTNR" value="7"/>
<mapEntry key="XFILESEARCHPATH" value="/usr/dt/app-defaults/%L/Dt"/>
<mapEntry key="XMODIFIERS" value="@im=ibus"/>
<mapEntry key="no_proxy" value="localhost,,127.0.0.0/8,127.0.0.1/8"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
</launchConfiguration>
